.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.portada-container{
  padding-top: 10%;
  padding-bottom: 10%;
}

.cover-container{
  max-width: 100% !important;
  margin-left: 10% !important;
  margin-right: 10% !important;
  min-height: 100vh;

}
.texto-about{
  text-align: center !important;
  padding-bottom: 2%;
  padding-top: 3%;


}
.title-description{
  padding-top: 2%;
}
.contenedor-inicial{
  justify-content: center;
}
.mb-autont{
  margin-bottom: 25vh !important;
}

.bg-portada{
  background-image: url("./assets/cover.gif") !important;
  background-size: 100% !important;
}

.retrato-about{
  max-width: 25vh;
}

.progress-bar100{
  width: 100%;
}

.progress-bar90{
  width: 90%;
}
.progress-bar85{
  width: 85%;
}

.progress-bar80{
  width: 80%;
}

.progress-bar75{
  width: 75%;
}

.progress-bar70{
  width: 70%;
}

.progress-bar60{
  width: 60%;
}

.progress-bar50{
  width: 50%;
}



.seccion-portafolio{
  padding-top: 14vh;
}


.footer-portafolio{
  margin-top: 10vh;
  background-color: black !important;
  min-height: 10vh;
}
@import "~bootstrap/scss/bootstrap";
@import "~aos/dist/aos.css";


